%script{:type => "text/javascript", :src  => "jquery-1.7.1.min.js"}
%script{:type => "text/javascript", :src  => "json2.js"}
%script{:type => "text/javascript", :src  => "underscore-min.js"}
%script{:type => "text/javascript", :src  => "backbone-min.js"}
%script{:type => "text/javascript", :src  => "models.js"}
%p Esta es la prueba de backbone como tecnología para terminar esta red social
%p
  %a{:href=>'http://documentcloud.github.com/backbone/'} Documentación
%p
  %a{:href=>'javascript:user.alertar();'} Guardar modelo

