%script{:type => "text/javascript", :src  => "js/index.js"}
    
#welcome
  #welcome-text 
    %img{:src=>'img/welcome1.jpg'}
    %h1 Bienvenido a Recomendalo! 
    %p El espacio donde podés seguir las recomendaciones de tus amigos sobre todo tipo de productos y actividades!
  
  #welcome-forms
    %form.well{:action=>'/login', :method=>'post', :id=>'login-form'}
      %input{:type=>'text', :name=>'login'}
      %input{:type=>'password', :name=>'password'}
      %input{:type=>'submit', :value=>'Login'}
    %form.well{:action=>'/register', :method=>'post', :id=>'register-form'}
      %p ¿Todavía no tenés una cuenta? Registrate, ¡es fácil!
      %label Nombre de usuario
      %input{:type=>'text', :name=>'username'}
      %label Email
      %input{:type=>'email', :name=>'email'}
      %label Nombre completo
      %input{:type=>'text', :name=>'fullname'}
      %label Password
      %input{:type=>'password', :name=>'password'}
      %label Repeat password
      %input{:type=>'password', :name=>'repeat_password'}
      %input{:type=>'submit', :value=>'Registrarme'}
