%html
  %head
    %title Recomendalo :: red social de recomendaciones
    
    %script{:type => "text/javascript", :src  => "js/jquery-1.7.1.min.js"}
    %script{:type => "text/javascript", :src  => "js/jquery-ui-1.8.17.custom.min.js"}
    %script{:type => "text/javascript", :src  => "js/json2.js"}
    %script{:type => "text/javascript", :src  => "js/underscore-min.js"}
    %script{:type => "text/javascript", :src  => "js/backbone-min.js"}
    %script{:type => "text/javascript", :src  => "js/models.js"}
    
    %link(rel="stylesheet" type="text/css" href="/css/styles.css")
    %link(rel="stylesheet" type="text/css" href="/css/ui-darkness/jquery-ui-1.8.17.custom.css")
  %body= yield

