%html
  %head
    %title Recomendalo :: red social de recomendaciones
    
    %script{:type => "text/javascript", :src  => "js/jquery-1.7.1.min.js"}
    %script{:type => "text/javascript", :src  => "js/jquery-ui-1.8.17.custom.min.js"}
    %script{:type => "text/javascript", :src  => "js/json2.js"}
    %script{:type => "text/javascript", :src  => "js/underscore-min.js"}
    %script{:type => "text/javascript", :src  => "js/backbone-min.js"}
    %script{:type => "text/javascript", :src  => "js/models.js"}
    %script{:type => "text/javascript", :src  => "js/bootstrap.js"}
    
    %link(rel="stylesheet" type="text/css" href="/css/styles.css")
    %link(rel="stylesheet" type="text/css" href="/css/bootstrap.css")
    %link(rel="stylesheet" type="text/css" href="/css/ui-darkness/jquery-ui-1.8.17.custom.css")
  %body
    %header.navbar
      .navbar-inner
        .container
          .brand Recomendalo!
          .nav-collapse
            %ul.nav
              - if session[:uid]
                %li
                  %a{:href=>'/'+@user.username} Perfil
                %li  
                  %a{:href=>'/users_search'} Buscar usuarios
            %ul.nav.pull-right
              - if session[:uid]
                %li.dropdown
                  %a.dropdown-toggle{:data=>{:toggle=>'dropdown'}}
                    Cuenta
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href=>'/users/photo'} Editar foto
                    %li
                      %a{:href=>'javascript:editProfile();'} Editar perfil
                    %li
                      %a{:href=>'/logout'} Logout
    #content
      - if flash[:notice]
        #notice-bar= flash[:notice]
      - if flash[:error]
        #error-bar= flash[:error]
      #{yield}
    %footer
