%html
  %head
    %title Recomendalo :: red social de recomendaciones
    
    %link(rel="stylesheet" type="text/css" href="/css/styles.css")
    %link(rel="stylesheet" type="text/css" href="/css/ui-darkness/jquery-ui-1.8.17.custom.css")
  %body= yield

