-#   Copyright (c) 2012, Hugo Alberto Massaroli  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%script{:type => "text/javascript", :src  => "js/users_search.js"}

#home-content.container-fluid
  %h3 Tipos copados que recomiendan
  #users
