#recommendations {

}

#recommendations li {
	border: blue 1px;
	background: yellow;
	width:300px;
}

.clear {
	clear:both;
}

.left {
	float:left;
}

.right {
	float:right;
}

#createPageDialog {
	display:none;
}

#registerDialog {
	display:none;
}

#loginDialog {
	display:none;
}

.pageButton {
	cursor:pointer;
	color:red;
	font-family:sans-serif;
}
