#recommendations li {
	border: blue 1px;
	background: yellow;
	width:300px;
}

.clear {
	clear:both;
}

.left {
	float:left;
}

.right {
	float:right;
}

.hidden {
	display:none;
}

.pageButton {
	cursor:pointer;
	color:red;
	font-family:sans-serif;
}

#createPageDialog {
	display:none;
}

#createPageDialog * {
	display:block;
}

#registerDialog {
	display:none;
}

#registerDialog * {
	display:block;
}

#loginDialog {
	display:none;
}

#loginDialog * {
	display:block;
}

#editProfileDialog {
	display:none;
}

#editProfileDialog * {
	display:block;
}

body {
	color:white;
	background:blue;
	padding:0;
	margin:0;
}

body a {
	color:white;
}

.header {
	font-size:25;
	padding:5px;
	color:white;
	background:black;
}

.barbutton {
	font-size:15;
	padding:10px;
}

#main {
	color:black;
	padding:10px;
	background:lightgray;
}

.section {
	padding:10px;
	background:black;
	margin:10px;
	float:left;
}

.page-image {
	width:50px;
	height:50px;
	background:lightgray;
}

.user-image {
	width:30px;
	height:30px;
	background:lightgray;
}

.dialog {
	display:none;	
}

.dialog * {
	display:block;
}

form * {
	display:block;
}
